<%- include('partials/header') %>


  <div class="game-board">
    
  
    <p class="score">Votre score est de <%=score%>/10</p>

    <div class="result">
      <% gameArr.forEach(elem => { %>
       <p><%=elem.name%> - <%=elem.capital%> - 
        <% if (elem.capital.toLowerCase()===elem.user) { %>
          <span class="ok"><%=elem.user%></span></p>
          <% } else {%>
            <span class="ko"><%=elem.user%></span></p>
         <%}%>
       <br>
      <% }) %> 
    </div>

    <a href="/" class="link-game">Rejouer</a>


  </div>

<%- include('partials/footer') %>