<%- include('partials/header') %>


  <div class="game-board">

    <li>
      <a href="/game/addNameForm" class="link-menu">Ajoutez votre nom au Leaderboard</a>
    </li>

    <table class="result">
      <thead>
        <tr>
          <th class="score" colspan="3">Votre score est de <%=score%>/10</th>
        </tr>
      </thead>
      <tbody>
        <% gameArray.forEach(elem => { %>
          <% if (elem.capital.toLowerCase()===elem.user) { %>
        <tr class="true">
          <td><%=elem.name%></td>
          <td><%=elem.capital%></td>
          <td><%=elem.user%></td>
        </tr>
        <% } else {%>
          <tr class="false">
            <td><%=elem.name%></td>
            <td><%=elem.capital%></td>
            <td><%=elem.user%></td>
          </tr>
          <%}%>
          <% }) %> 
        </tbody>
          </table>

    <a href="/" class="link-game">Rejouer</a>


  </div>

<%- include('partials/footer') %>